@import "./abstracts/variables";

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  padding: 0 2rem;

  @media(min-width: $bp-large) {
    padding: 0 6rem;
  }
}

.font-text {
  font-size: 1.6rem;
  font-family: serif;

  @media(min-width: $bp-large) {
    font-size: 1.8rem;
  }
}

.title {
  text-align: center;
  margin-bottom: 4rem;
  color: var(--primary-color);
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
  
.button {
  display: inline-flex;
  align-items: center;
  height: 2.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 0.4rem 0.4rem 0;
  
  @media(min-width: $bp-large) {
    font-size: 1.4rem;
    height: 2.8rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
  
.button--primary {
  color: white;
  background-color: var(--secondary-color);
  border-color: white;
  border: 1px solid black;
  
  &:hover {
    background-color: var(--primary-color);
  }
}

.button--form {
  justify-content: center;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.vehicle-grid-layout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.vehicle-list-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.vehicle-item {
    border: 1px solid var(--text-color);
    text-align: center;
    color: var(--text-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  & label {
    width: 30rem;
    align-items: flex-start;
    margin-bottom: 0.5rem;
  }

  & input {
    width: 30rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: 2rem;
  }
}

.form-error {
  margin-top: -2rem;
  color: var(--primary-color);
}

.pagination {
  display: flex;
  list-style-type: none;
  padding-left: 0;

  & button {
    margin-right: 0.2rem;
    cursor: pointer;
    outline: 0;
  }
}
